* {
  margin: 0 auto;
  padding: 0 auto;
  color: white;
  /* font-family: auto; */
  /* background-color: black; */
}




    /* Loader CSS */

    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
      display: flex; /* Center the content horizontally */
      justify-content: center;
      align-items: center;
    }

    .loading {
      --size-loader: 50px;
      --size-orbe: 10px;
      width: var(--size-loader);
      height: var(--size-loader);
      position: relative;
      transform: rotate(45deg);
    }
    
    .orbe {
      position: absolute;
      width: 100%;
      height: 100%;
      --delay: calc(var(--index) * 0.1s);
      animation: orbit7456 ease-in-out 1.5s var(--delay) infinite;
      opacity: calc(1 - calc(0.2 * var(--index)));
    }
    
    .orbe::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: var(--size-orbe);
      height: var(--size-orbe);
      background-color: #3ae374;
      box-shadow: 0px 0px 20px 2px #3ae374;
      border-radius: 50%;
    }
    
    @keyframes orbit7456 {
      0% {
      }
    
      80% {
        transform: rotate(360deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }

    body.loaded .loader {
      display: none;
    }

.title
{
  font-size: 1700px;
} 

/* .main-part {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section
{
  scroll-snap-align: start;
} */

body {
  align-items: center;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1cm;
  /* padding: 25px 25px; */
  /* background: rgba(0, 0, 0, 0.015);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
  /* display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center; */
  align-items: center;
  text-align: center;
  margin-top: 0.7cm;
  z-index: 10;
  transition: 0.55s ease transform;
}

.hidden {
  transform: translateY(-200%);
}

.logo {
  font-size: 32px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  color: rgb(213, 213, 213);
  font-weight: bolder;
  text-decoration: none;
  margin: 10px 30px;
  background: rgba(0, 0, 0, 0);
  z-index: 111;
  /* -webkit-text-stroke: 0.1px rgb(255, 255, 255); */
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.932);
  /* border: 2px solid black; */
}

.navbar a:hover {
  color: rgb(133, 254, 145);
  text-shadow: 0px -4px 5px rgba(245, 245, 245, 0.519);
}

.home-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  width: 100%;
  height: auto;
  background-image: url(farm4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-first-flex {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 1100px;
  height: 570px;
  /* background-color: rgba(0, 0, 0, 0.116); */
  /* backdrop-filter: blur(2.6px); */
  /* -webkit-backdrop-filter: blur(5px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  /* box-shadow: 0 4px 8px rgb(199, 197, 197); */
  /* border-radius: 8px; */
  padding: 20px;
  text-align: center;
  /* border: 0.5px solid white ; */
  overflow-wrap: break-word;
  white-space: normal;
  /* border: 1px solid white; */
}

.home-first-flex-text {
  /* font-family: "Raleway", sans-serif; */
  font-size: 65px;
  font-weight: 500;
  margin-top: 2cm;
  line-height: 100px;
}

.home-first-flex-text2 {
  font-family: "Rajdhani", sans-serif;
  /* word-spacing: 0.3cm; */
  font-size: 20px;
  letter-spacing: 0.2cm;
}

.home-second-flex {
  font-size: 20px;
  color: aliceblue;
  font-family: "Rajdhani", sans-serif;
  /* font-weight: 900; */
  width: 12cm;
  height: 5cm;
  background-color: rgba(0, 0, 0, 0.116);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  box-shadow: 0 4px 8px rgba(108, 108, 108, 0.2);
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
  overflow-wrap: break-word;
  white-space: normal;
  margin-top: 3cm;
  margin-bottom: 0.1cm;
  margin-left: 1.7cm;
  margin-right: 1.7cm;
}

.second-text {
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 17px;
}

.ji {
  display: flex;
  flex-direction: column;
  row-gap: 0cm;
}

.hr {
  width: 5px;
  height: 1px;
  background-color: aliceblue;
  align-items: center;

}

.home-button {
  color: rgb(252, 252, 252);
  font-weight: bolder;
  width: 3cm;
  height: 0.7cm;
  background: rgba(60, 60, 60, 0.544);
  text-align: center;
  padding: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  border: 1px solid white;
  letter-spacing: 1px;
  transition: color ease 0.25s;
}

.home-button:hover {
  color: rgb(128, 253, 132);
  border: 3px solid rgb(102, 255, 138);
}





.service-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service {
  width: 100%;
  height: auto;
  /* background-image: url(/image/farm5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
  background-color: rgb(1, 23, 1);
  /* background-image: url('/image/zo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cards style  */

.card-container {
  perspective: 1000px;
}

.main-card {
  position: relative;
  width: 300px;
  height: 400px;
  /* background-image: url('/image/botani.jpg'); */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease;
  border: 3px solid white;
}

.main-card:hover
{
  box-shadow: 0px -20px 40px rgba(255, 255, 255, 0.356);
}

.main-card:hover .hidden-card {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.7);
}

.main-card:hover .blur-background {
  filter: blur(5px);
}

.top-image {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 2;
}

.hidden-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 43.33%;
  background-color: transparent;
  transform: translateY(62.67%);
  transition: transform 0.5s ease, background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden-content {
  text-align: center;
  color: #fff;
  z-index: 2;
}

.hidden-content h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.hidden-content p,
.hidden-content .button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.main-card:hover .hidden-content p,
.main-card:hover .hidden-content .button {
  opacity: 1;
}

.button {
  background-color: #08a54e;
  color: white;
  padding: 2px 7px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #05a545;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: blur(1px);
  transition: filter 0.5s ease;
}



/* about page style */


.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  width: 100%;
  height: auto;
  /* background-image: url(/image/farm5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
  background-color: rgb(7, 45, 7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2cm;
}


/* testimonia style  */


.slider-container {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.card2 {
  background-color: #00000060;
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(5px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.card2 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.627);
}

.content {
  margin-bottom: 20px;
}

.name {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}

.review {
  font-size: 14px;
  color: #9dffbc;
}

@media (max-width: 568px) {
  .card img {
    width: 80px;
    height: 80px;
  }
}

.carousel-container {
  width: 99%;
  overflow: hidden;
  border: 2px solid white;
}

.carousel-row {
  display: flex;
  width: calc(100% * 2);
  /* Double the width to allow for seamless looping */
  animation: scroll 20s linear infinite;
  /* Adjust animation duration as needed */
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6cm;
  width: auto;
  padding: 0 1px;
  /* Adjust padding as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.image-item img {
  height: 6cm;
  border: 5px solid white;
  width: auto;
  object-fit: cover;
  /* border: 2px solid white; */

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.carousel-container .carousel-row::before,
.carousel-container .carousel-row::after {
  content: attr(data-content);
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page {
  width: 100%;
  height: auto;
  background-image: url(Agric12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.left-title h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.contact-inputs {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.224);
  border: 1px solid white;
}

#text-area1 {
  height: 110px;
  /* text-align: center; */
}

.contact-inputs:focus {
  border: 2px solid rgb(0, 255, 106);
}

/* .button-contact {
  width: 100px;
  height: 30px;
  background: linear-gradient(280deg, rgb(79, 4, 255), rgb(126, 13, 255));
  color: rgb(255, 255, 255);
  border: 2px solid rgba(199, 199, 199, 0.242);
  border-radius: 6px;
  cursor: pointer;
} */

.contact-right {
  color: white;
  font-size: 50px;
  width: 16cm;
  height: 17cm;
  /* border: 1px solid black; */
  overflow: auto;
  padding: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  font-weight: 900;
}

.fancy-button {
  display: inline-block;
  padding: 6px 15px;
  border: none;
  background-color: #0f9864bc;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.fancy-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-30deg);
  transition: left 0.3s ease-in-out;
}

.fancy-button:hover {
  transform: scale(1.1);
}

.fancy-button:hover:before {
  left: 100%;
}



/* foter style  */


.foot {
  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 14px 15px -1px rgba(0, 0, 0, 0.163),
    0 6px 10px -1px rgba(0, 0, 0, 0.111);
  color: #e8e8e8;
  text-align: center;
  width: 100%;
  height: 1cm;
  display: flex;
  z-index: 100;
}

.footer-text-section p {
  padding: 10px;
}


